fastapi
uvicorn
pdfminer.six
python-multipart
sentence-transformers
torch
scikit-learn
pandas
joblib
requests
numpy
tqdm
xgboost
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
email-validator
google-generativeai
